/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffcccb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.login-box {
    width: 90%;
    max-width: 400px;
    padding: 40px;
    position: relative;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #333;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    border: none;
    outline: none;
    color: #333;
    font-size: 18px;
}

.btn {
    width: 100%;
    background: #ff6666;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #ff5757;
}

.error-message {
    color: red;
    margin-top: 10px;
}

#message-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ff80d8;
    color: white;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    white-space: pre-wrap;
    max-width: 90%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

/* Estilo para los fuegos artificiales */
#fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}

/* Estilo para el mensaje grande */
#love-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: #ea4c89;
    font-family: 'Arial', sans-serif;
    display: none;
}

/* Animaciones */
@keyframes explode {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0); opacity: 0; }
}

/* Ajustes para dispositivos móviles */
@media (max-width: 600px) {
    .login-box {
        padding: 20px;
    }

    .textbox input {
        font-size: 16px;
        padding: 8px;
    }

    .btn {
        font-size: 16px;
        padding: 8px;
    }

    #message-container {
        font-size: 16px;
        padding: 15px;
    }

    #love-message {
        font-size: 3em;
    }
}
