body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffcccb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.login-box {
    width: 300px;
    padding: 40px;
    position: relative;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #333;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    border: none;
    outline: none;
    color: #333;
    font-size: 18px;
}

.btn {
    width: 100%;
    background: #ff6666;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #ff5757;
}

.error-message {
    color: red;
    margin-top: 10px;
}

#message-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ff80d8; /* Fondo rosa oscuro */
    color: white; /* Texto blanco */
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace; /* Fuente de aspecto de escritura */
    font-size: 18px;
    white-space: pre-wrap; /* Para mantener los saltos de línea */
}
